<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697016371332-038ktt8gg211piqu2jmmrh650efviskh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697016371332-038ktt8gg211piqu2jmmrh650efviskh</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ4-x7NLlM2WuyuYOY594lNxgdmZHu-oA</string>
	<key>GCM_SENDER_ID</key>
	<string>697016371332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>somsatang-436b1</string>
	<key>STORAGE_BUCKET</key>
	<string>somsatang-436b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697016371332:ios:e0cf5140bed693df099ad1</string>
</dict>
</plist>